.btn-main, .btn-sec, .btn-sec-s, .btn-main-s {
  background-color: #0075ff;
  color: white;
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  border: solid 1px #0075ff;
}
.btn-main:hover, .btn-sec:hover, .btn-sec-s:hover, .btn-main-s:hover {
  background-color: white;
  color: #0075ff;
}
.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
  line-height: normal;
}

.btn-sec, .btn-sec-s {
  color: black;
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: rgba(136, 136, 136, 0.5333333333);
}
.btn-sec-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  list-style: none;
  display: inline;
  font-size: 1rem;
  padding: 0;
  margin-right: 2rem;
}
.main-menu a {
  color: black;
  text-decoration: none;
}
.main-menu a:hover {
  text-decoration: underline;
}

.icon-sm i {
  font-size: 1.25rem;
  color: #0075ff;
  padding: 0.4rem 0.65rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3333333333);
}

.benefit {
  display: flex;
  flex-direction: column;
}
.benefit .icon {
  color: #0075ff;
  font-size: 7.5rem;
  text-align: center;
}
.benefit .description .title {
  font-size: 2rem;
  text-align: center;
}
.benefit .description .text {
  color: #888;
  font-weight: 600;
  text-align: center;
}
.benefit .cta {
  color: #0075ff;
  font-weight: 600;
  margin-top: 3rem;
  text-align: center;
}

.icon-desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-desk .icon {
  color: #0075ff;
  font-size: 10rem;
  padding: 0;
}
.icon-desk .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -2rem;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4 rem;
  border-bottom: solid 1px #ddd;
}

.logo img {
  width: 200px;
  padding: auto;
}

.sec-home {
  display: flex;
  width: 100%;
  padding: 3rem;
  align-items: center;
  max-width: 992px;
  margin: auto;
}
.sec-home .home-cta {
  flex: 1;
}
.sec-home .cta-text {
  color: #0075ff;
}
.sec-home .home-title {
  width: 20rem;
}
.sec-home img {
  max-width: 100%;
}

.sec-features, .sec-benefits .intro {
  width: 100%;
  padding: 3rem;
  align-items: center;
  max-width: 992px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-features .intro, .sec-benefits .intro .intro {
  text-align: center;
}
.sec-features .intro h3, .sec-benefits .intro .intro h3 {
  font-size: 1.8rem;
}
.sec-features .intro p, .sec-benefits .intro .intro p {
  font-size: 0.8rem;
  color: rgb(68, 58, 58);
}
.sec-features .features, .sec-benefits .intro .features {
  display: flex;
  align-items: center;
  margin: auto;
}
.sec-features .features .image img, .sec-benefits .intro .features .image img {
  max-width: 100%;
  display: flex;
}
.sec-features .features .text .feature, .sec-benefits .intro .features .text .feature {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.sec-features .features .text .feature .descrption, .sec-benefits .intro .features .text .feature .descrption {
  margin-left: 1.15rem;
}
.sec-features .features .text .feature .descrption .description-title, .sec-benefits .intro .features .text .feature .descrption .description-title {
  font-size: 0.25rem;
}
.sec-features .features .text .feature .descrption .description-text, .sec-benefits .intro .features .text .feature .descrption .description-text {
  font-size: 1rem;
  width: 100%;
}

.sec-kpis {
  background-color: #0075ff;
  color: white;
  padding: 4rem;
  width: 100%;
}
.sec-kpis .kpis {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-kpis .kpis .number {
  font-size: 4rem;
  font-weight: 600;
}
.sec-kpis .kpis .description {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.603);
}

.sec-onboarding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  width: 100%;
  background-color: #f5f8ff;
}
.sec-onboarding img {
  width: 50%;
}
.sec-onboarding .cta-onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.sec-onboarding .cta-onboarding .onboarding-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}
.sec-onboarding .onboarding-text {
  color: #888;
  font-weight: 600;
  text-align: center;
}

.sec-footer-cta {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-top: solid 1px #ddd;
}
.sec-footer-cta .description-footer {
  padding-top: 1.5rem;
}
.sec-footer-cta .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}
.sec-footer-cta .footer .logo-footer {
  padding-left: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-footer-cta .footer .logo-footer img {
  width: 300px;
}
.sec-footer-cta .footer .logo-footer li {
  padding: 0.5rem;
  display: inline;
}
.sec-footer-cta .footer .logo-footer a {
  color: black;
  text-decoration: none;
  padding: auto;
  margin-right: 0.6rem;
}

/*# sourceMappingURL=style.css.map */
